In [1]:
import pandas as pd

In [2]:
em = pd.read_csv('employee_data.csv')
train_dev = pd.read_csv('training_and_development_data.csv')
rec = pd.read_csv('recruitment_data.csv')
em_enga_sur = pd.read_csv('employee_engagement_survey_data.csv')

In [3]:
em.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 26 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   EmpID                       3000 non-null   int64
 1   FirstName                   3000 non-null   object
 2   LastName                    3000 non-null   object
 3   StartDate                   3000 non-null   object
 4   ExitDate                    1533 non-null   object
 5   Title                       3000 non-null   object
 6   Supervisor                  3000 non-null   object
 7   ADEmail                     3000 non-null   object
 8   BusinessUnit                3000 non-null   object
 9   EmployeeStatus              3000 non-null   object
 10  EmployeeType                3000 non-null   object
 11  PayZone                     3000 non-null   object
 12  EmployeeClassificationType  3000 non-null   object
 13  TerminationType             3000 non-null   object
 14  TerminationDescription      1533 non-null   object
 15  DepartmentType              3000 non-null   object
 16  Division                    3000 non-null   object
 17  DOB                         3000 non-null   object
 18  State                       3000 non-null   object
 19  JobFunctionDescription      3000 non-null   object
 20  GenderCode                  3000 non-null   object
 21  LocationCode                3000 non-null   int64
 22  RaceDesc                    3000 non-null   object
 23  MaritalDesc                 3000 non-null   object
 24  Performance Score           3000 non-null   object
 25  Current Employee Rating     3000 non-null   int64
dtypes: int64(3), object(23)
memory usage: 609.5+ KB

In [4]:
train_dev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Employee ID              3000 non-null   int64
 1   Training Date            3000 non-null   object
 2   Training Program Name    3000 non-null   object
 3   Training Type            3000 non-null   object
 4   Training Outcome         3000 non-null   object
 5   Location                 3000 non-null   object
 6   Trainer                  3000 non-null   object
 7   Training Duration(Days)  3000 non-null   int64
 8   Training Cost            3000 non-null   float64
dtypes: float64(1), int64(2), object(6)
memory usage: 211.1+ KB

In [5]:
rec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Applicant ID         3000 non-null   int64
 1   Application Date     3000 non-null   object
 2   First Name           3000 non-null   object
 3   Last Name            3000 non-null   object
 4   Gender               3000 non-null   object
 5   Date of Birth        3000 non-null   object
 6   Phone Number         3000 non-null   object
 7   Email                3000 non-null   object
 8   Address              3000 non-null   object
 9   City                 3000 non-null   object
 10  State                3000 non-null   object
 11  Zip Code             3000 non-null   int64
 12  Country              3000 non-null   object
 13  Education Level      3000 non-null   object
 14  Years of Experience  3000 non-null   int64
 15  Desired Salary       3000 non-null   float64
 16  Job Title            3000 non-null   object
 17  Status               3000 non-null   object
dtypes: float64(1), int64(3), object(14)
memory usage: 422.0+ KB

In [6]:
em_enga_sur.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Employee ID              3000 non-null   int64
 1   Survey Date              3000 non-null   object
 2   Engagement Score         3000 non-null   int64
 3   Satisfaction Score       3000 non-null   int64
 4   Work-Life Balance Score  3000 non-null   int64
dtypes: int64(4), object(1)
memory usage: 117.3+ KB

In [7]:
em['StartDate'] = pd.to_datetime(em['StartDate'], format='%d-%b-%y', errors='coerce')
em['ExitDate'] = pd.to_datetime(em['ExitDate'], format='%d-%b-%y', errors='coerce')
em['TerminationDescription'] = em['TerminationDescription'].fillna('Unknown')
em['DOB'] = pd.to_datetime(em['DOB'], format='%d-%m-%Y', errors='coerce')

train_dev['Training Date'] = pd.to_datetime(train_dev['Training Date'], format='%d-%b-%y', errors='coerce')
train_dev['Training Duration Days'] = train_dev['Training Duration(Days)']

rec['Date of Birth'] = pd.to_datetime(rec['Date of Birth'], format='%d-%m-%Y', errors='coerce')
rec['Application Date'] = pd.to_datetime(rec['Application Date'], format='%d-%b-%y', errors='coerce')
rec=rec.drop('Phone Number', axis=1)

em_enga_sur['Survey Date'] = pd.to_datetime(em_enga_sur['Survey Date'], format='%d-%m-%Y', errors='coerce')

In [8]:
em.shape

(3000, 26)

In [9]:
train_dev.shape

(3000, 10)

In [10]:
rec.shape

(3000, 17)

In [11]:
em_enga_sur.shape

(3000, 5)

In [12]:
em.to_csv('clean_employee_data.csv', index=False)
train_dev.to_csv('clean_training_and_development_data.csv', index=False)
rec.to_csv('clean_recruitment_data.csv', index=False)
em_enga_sur.to_csv('clean_employee_engagement_survey_data.csv', index=False)

In [13]:
print(em.info())
print(train_dev.info())
print(rec.info())
print(em_enga_sur.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 26 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   EmpID                       3000 non-null   int64
 1   FirstName                   3000 non-null   object
 2   LastName                    3000 non-null   object
 3   StartDate                   3000 non-null   datetime64[ns]
 4   ExitDate                    1533 non-null   datetime64[ns]
 5   Title                       3000 non-null   object
 6   Supervisor                  3000 non-null   object
 7   ADEmail                     3000 non-null   object
 8   BusinessUnit                3000 non-null   object
 9   EmployeeStatus              3000 non-null   object
 10  EmployeeType                3000 non-null   object
 11  PayZone                     3000 non-null   object
 12  EmployeeClassificationType  3000 non-null   object
 13  TerminationType             3000 non-null   object
 14  TerminationDescription      3000 non-null   object
 15  DepartmentType              3000 non-null   object
 16  Division                    3000 non-null   object
 17  DOB                         3000 non-null   datetime64[ns]
 18  State                       3000 non-null   object
 19  JobFunctionDescription      3000 non-null   object
 20  GenderCode                  3000 non-null   object
 21  LocationCode                3000 non-null   int64
 22  RaceDesc                    3000 non-null   object
 23  MaritalDesc                 3000 non-null   object
 24  Performance Score           3000 non-null   object
 25  Current Employee Rating     3000 non-null   int64
dtypes: datetime64[ns](3), int64(3), object(20)
memory usage: 609.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Employee ID              3000 non-null   int64
 1   Training Date            3000 non-null   datetime64[ns]
 2   Training Program Name    3000 non-null   object
 3   Training Type            3000 non-null   object
 4   Training Outcome         3000 non-null   object
 5   Location                 3000 non-null   object
 6   Trainer                  3000 non-null   object
 7   Training Duration(Days)  3000 non-null   int64
 8   Training Cost            3000 non-null   float64
 9   Training Duration Days   3000 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(5)
memory usage: 234.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Applicant ID         3000 non-null   int64
 1   Application Date     3000 non-null   datetime64[ns]
 2   First Name           3000 non-null   object
 3   Last Name            3000 non-null   object
 4   Gender               3000 non-null   object
 5   Date of Birth        3000 non-null   datetime64[ns]
 6   Email                3000 non-null   object
 7   Address              3000 non-null   object
 8   City                 3000 non-null   object
 9   State                3000 non-null   object
 10  Zip Code             3000 non-null   int64
 11  Country              3000 non-null   object
 12  Education Level      3000 non-null   object
 13  Years of Experience  3000 non-null   int64
 14  Desired Salary       3000 non-null   float64
 15  Job Title            3000 non-null   object
 16  Status               3000 non-null   object
dtypes: datetime64[ns](2), float64(1), int64(3), object(11)
memory usage: 398.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Employee ID              3000 non-null   int64
 1   Survey Date              3000 non-null   datetime64[ns]
 2   Engagement Score         3000 non-null   int64
 3   Satisfaction Score       3000 non-null   int64
 4   Work-Life Balance Score  3000 non-null   int64
dtypes: datetime64[ns](1), int64(4)
memory usage: 117.3 KB
None

In [30]:
em['Performance Score'].unique()

array(['Fully Meets', 'Exceeds', 'Needs Improvement', 'PIP'], dtype=object)

In [34]:
train_dev['Training Outcome'].unique()

array(['Failed', 'Incomplete', 'Completed', 'Passed'], dtype=object)

In [36]:
rec['Status'].unique()

array(['Interviewing', 'Rejected', 'In Review', 'Offered', 'Applied'],
      dtype=object)